@font-face {
    font-family: 'judson';
    src: url(judson.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rubik';
    src: url(rubik.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --text-color-1: #575D5E;
    --text-color-2: #D4D4D4;
    --heading-color: #0C1516;
    --color-main: #2C8391;
    --color-darker: #13383E;
    --color-lighter: #83D8E5;
    --color-subtle: #F7F5EB;
    --color-border: #B7C1C3;
    --color-accent: #EDECE3;
    --color-error:#E22D2D;
    --color-warning: #E2D52D;
    --color-info: #2663cf;
    --color-success: #20bd3c;
    --font-1:"judson";
    --font-2:"rubik";
}
h1 {
    font-size: 90px;
    font-weight: 700;
    line-height: 1.4em;
    font-family: var(--font-1);
}
h2 {
    font-size: 56px;
    font-weight: 600;
    line-height: 1.4em;
    font-family: var(--font-1);
}
h3{
    font-size: 40px;
    font-weight: 600;
    line-height: 1.4em;
    font-family: var(--font-1);
}
h4 {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.4em;
    font-family: var(--font-1);
}
h5 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1,4em;
    font-family: var(--font-1);
}
h6 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1,4em;
    font-family: var(--font-1);
}
button {
    font-family: var(--font-2);
    font-weight: 600;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
button:hover {
    background-color: var(--color-main);
}
a {
    text-decoration: none;
    cursor: pointer;
    color: var(--color-main);
    transition: color 0.3s;
}
a:hover {
    color: var(--color-accent);
}
a:visited {
    color: var(--color-subtle);
}
img{
    width: 100%;
    max-width: 500px;
    object-fit: cover;
    object-position: center;
}
p {
    font-size: 16px;
    color: var(--text-color-1);
    font-family: var(--font-2);
}
.c-text-1 {
    color: var(--text-color-1);
}
.c-text-2 {
    color: var(--text-color-2);
}
.c-heading {
    color: var(--heading-color);
}
.c-main {
    color: var(--color-main);
}
.c-darker {
    color: var(--color-darker);
}
.c-lighter {
    color: var(--color-lighter);
}
.c-subtle {
    color: var(--color-subtle);
}
.c-border {
    color: var(--color-border);
}
.c-error {
    color: var(--color-error);
}
.c-warning {
    color: var(--color-warning);
}
.c-info {
    color: var(--color-info);
}
.c-success {
    color: var(--color-success);
}
.c-accent {
    color: var(--color-accent);
}
.c-white {
    color: white !important;
}
.c-black {
    color: black;
}
.bg-text-1 {
    background-color: var(--text-color-1);
}
.bg-text-2 {
    background-color: var(--text-color-2);
}
.bg-heading {
    background-color: var(--heading-color);
}
.bg-main {
    background-color: var(--color-main);
}
.bg-darker {
    background-color: var(--color-darker);
}
.bg-lighter {
    background-color: var(--color-lighter);
}
.bg-subtle {
    background-color: var(--color-subtle);
}
.bg-border {
    background-color: var(--color-border);
}
.bg-error {
    background-color: var(--color-error);
}
.bg-warning {
    background-color: var(--color-warning);
}
.bg-info {
    background-color: var(--color-info);
}
.bg-success {
    background-color: var(--color-success);
}
.bg-accent {
    background-color: var(--color-accent);
}

@media (max-width: 768px) {
    h1 {
        font-size: 60px;
    }
}
